@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Backlog</h1>
    <p class="lead">This is an ASP.NET application designed as part of a class project. The aim of the program is for users to be able to input and keep track of tasks.</p>
    
</div>
